@import '../base.scss';

.cart{
  display: flex;
  justify-content: space-between;
}

.cart-tab{
  width: 60%;
}

.cart-summary{
  width: 30%;

  .cart-price_content{
    display: flex;
    justify-content: space-between;
  }
}

.cart-item{
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  gap: 15px;
  margin: 15px auto;

  .cart-item_img{
    width: 100px;
    height: 70px;
    background-color: aliceblue;

      img{
        width: 100%;
        object-fit: contain;
    }
  }

  .cart-item_options{
    position: absolute;
    right: 0;
    display: flex;

    input[type="number"]{
      border: $grey-light 1px solid;
      border-radius: 10px;
      text-align: center;
      width: 50px;
      margin-right: 15px;
      padding-right: 0;
    }
  }
}