@import '../base.scss';

.catalog-header{
    text-align: center;
    margin: 20px auto;
}

.catalog{
    width: 80%;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;
}

.catalog-item{
  margin: 0 auto 20px auto;
  text-align: center;
  padding: 30px;
  transition: transform .25s;

  &:hover {
    cursor: pointer;
    transform: scale(1.07);
  }

  .catalog-item_img{
    width: 140px;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img{
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }
  }
}