@import '../base.scss';
/* TODO position, styling, margin
    - positioning
    - centering
    - size of img
*/
/* SLIDESHOW */
.slideshow{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;

  .slideshow_img{
    width: 100%;
    height: auto;
  }
  
  .mySlides {
    display: none;
    width: 100%; //FIXME how to make big
  }
  
  .arrow, .dot{
    margin-left: 5px;
    margin-right: 5px;  
  }
  
  .arrow{
    color: $grey-dark;
  }
  
  .arrow:hover{
    color: $black;
  }
  
  .dot{
    display: inline-block;
    background-color: $white;
    height: 10px;
    width: 10px;
    border: 1px solid $grey-dark;
    border-radius: 50%;
  }
  
  .dot:hover, .dot-filled{
    background-color: $grey-dark;
  }
  
  button{
    width: 125px;
    height: 30px;
    color: $white;
    border-radius: 25px;
    border: none;
    text-decoration: none;
  }
}