$grey-light: #d3d3d3;
$grey-dark: #696969;
$white: white;
$black: #000000;

$icon-x: &times;
$icon-menu-toggle: &#9776; 

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  //color: $grey-dark;
}
h1, h2, h3, p {
  color: $grey-dark;
}

h1{
  font-size: 27px;
  font-weight: 300;
  margin-bottom: 10px;
}

h2{
  font-size: 16px;
}

h3{
  font-size: 14px;
  text-transform: uppercase;
}

p{
  font-size: 13px;
}

input[type="text"], input[type="number"]{
  padding: 0 15px;
}

.icon{
  font-size: 20px;
  color: $grey-dark;

  &:hover{
    color: $grey-light;
  }
}

hr{
  margin: 25px 0;
}