@import './base.scss';

#app {
  max-width: 70%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

header, footer{
  width: 100%;
  position: fixed;
  background-color: $white;
  height: 25px;
}

header{
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;

  input[type="text"]{
    border-radius: 25px;
  }
}

.right{
  display: flex;
}

footer{
  bottom: 0;
  left: 0;
  text-align: center;

  .footer_items{
    margin: 1em;
  }
}

/* LINKS */
a{
  text-decoration: none;
  color: $grey-dark;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: $grey-dark;
    color: $white;
  }
}


