@import './base.scss';
/* LINKS */
a{
  text-decoration: none;
  color: $grey-dark;
  transition: 0.4s;
}

/*@media (hover: hover) {
  a:hover {
    background-color: $grey-dark;
    color: $white;
  }
}*/