@import './base.scss';

#app {
  max-width: 90%;
  margin: 0 auto;
  padding: 5rem 0;
  font-weight: normal;
}

header, footer{
  width: 100%;
  position: fixed;
  background-color: $white;
  height: auto;
}

header{
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;

  /*input[type="text"]{
    border-radius: 25px;
    width: 150px;
  }*/
}

.right{
  display: flex;

  .nav-icon{
    margin: 10px 20px 0 0;
  }
}

footer{
  z-index: 4;
  bottom: 0;
  left: 0;
  text-align: center;

  .footer_items{
    margin: 1em;
  }
}

/* menu */
//TODO transition
.menu_btn{
  font-size: 25px;
  padding-left: 25px;
}

.menu{
  z-index: 10;

  nav{
    display: none;
    margin-top: -60px;
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: $white;
    border-right: 1px solid $grey-light;
    overflow: auto;
    padding: 25px;
    padding-top: 15px;

    .menu_item{
      text-transform: uppercase;
      margin-bottom: 20px;
      text-align: left;
      letter-spacing: 0.35em;
      padding-left: 10px;
      display: block; //FIXME -> cause of why hover is the whole line
    }

    .menu_item:hover:not(:first-child){
      background-color: $grey-dark;
      color: white;
    }

    p.menu_item{
      text-align: right;
      letter-spacing: 0;
      &:hover {
        cursor: pointer;
      };
    }
  }
}

/* LINKS */
a{
  text-decoration: none;
  color: $grey-dark;
  transition: 0.4s;
}

/*@media (hover: hover) {
  a:hover {
    background-color: $grey-dark;
    color: $white;
  }
}*/